.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.externalToolBuilders/
.target
*target*
.recommenders/
Servers
RemoteSystemsTempFiles
*.jar
*.war
*.ear
*.class
*.log
.classpath
.project
